<div class="ride-container">
  <h2>Available Rides</h2>

  <!-- Clear all rides button -->
  <div style="margin-bottom:16px;" class="actions" *ngIf="rides.length > 0">
    <button class="btn-outline" (click)="onClearRides()">
      Clear All Rides
    </button>
  </div>

  <div class="filters" *ngIf="rides.length > 0; else noRides">
    <div>
      <label>Vehicle Type:</label>
      <select [(ngModel)]="vehicleType" (change)="refresh()">
        <option value="">All</option>
        <option>Bike</option>
        <option>Car</option>
      </select>
    </div>
    <div>
      <label>Time:</label>
      <input type="time" [(ngModel)]="time" (change)="refresh()" />
    </div>
  </div>

  <ul class="ride-list">
    <li *ngFor="let ride of rides">
      <span class="details"
        >{{ ride.vehicleType }} - {{ ride.pickupPoint }} to
        {{ ride.destination }}</span
      >
      <span class="seats">{{ ride.vacantSeats }} seats</span>
    </li>
  </ul>

  <ng-template #noRides>
    <p class="no-rides">No rides available.</p>
  </ng-template>
</div>
