<div class="ride-container">
    <h2>Available Rides</h2>
  
    <div class="filters">
      <label>Vehicle Type:</label>
      <select [(ngModel)]="vehicleType" (change)="refresh()">
        <option value="">All</option>
        <option>Bike</option>
        <option>Car</option>
      </select>
  
      <label>Time:</label>
      <input type="time" [(ngModel)]="time" (change)="refresh()" />
    </div>
  
    <ul class="ride-list">
      <li *ngFor="let ride of rides">
        <span class="details">{{ ride.vehicleType }} - {{ ride.pickupPoint }} to {{ ride.destination }}</span>
        <span class="seats">{{ ride.vacantSeats }} seats</span>
      </li>
    </ul>
  </div>
  